# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1tGcX2qzS2GoaN5zFeD5DVJxqDmoQdmMs7QncZwFCEqU/edit#)_

_This scaffolding notebook may be used to help setup your final project. It's totally optional whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_Anything in italics (prose) or comments (in code) is meant to provide you with guidance. **Remove the italic lines and provided comments** before submitting the project, if you choose to use this scaffolding. We don't need the guidance when grading._

_All code should be consider "pseudo-code" - not functional by itself, and only a suggestion at the approach._

## Requirements

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project._

* Code clarity: make sure the code conforms to:
    * [ ] [PEP 8](https://peps.python.org/pep-0008/) - You might find [this resource](https://realpython.com/python-pep8/) helpful as well as [this](https://github.com/dnanhkhoa/nb_black) or [this](https://jupyterlab-code-formatter.readthedocs.io/en/latest/) tool
    * [ ] [PEP 257](https://peps.python.org/pep-0257/)
    * [ ] Break each task down into logical functions
* The following files are submitted for the project (see the project's GDoc for more details):
    * [ ] `README.md`
    * [ ] `requirements.txt`
    * [ ] `.gitignore`
    * [ ] `schema.sql`
    * [ ] 6 query files (using the `.sql` extension), appropriately named for the purpose of the query
    * [x] Jupyter Notebook containing the project (this file!)
* [x] You can edit this cell and add a `x` inside the `[ ]` like this task to denote a completed task

## Project Setup

In [24]:
# all import statements needed for the project

import math
import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import numpy as np
from math import sin, cos, sqrt, atan2, radians

In [25]:
# Constants we need for convenience
TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
UBER_CSV = "uber_rides_sample.csv"
NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

## Part 1: Data Preprocessing

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Define a function that calculates the distance between two coordinates in kilometers that **only uses the `math` module** from the standard library
* [ ] Write at least one unit test that tests this distance calculation function. 
* Taxi data:
    * [ ] Use `requests`, BeautifulSoup (`bs4`), and `pandas` to programmatically download the required CSV files & load into memory.
    * [ ] Clean the data, including:
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * Remove trips that start and/or end outside the designated [coordinate box](http://bboxfinder.com/#40.560445,-74.242330,40.908524,-73.717047)
    * [ ] Sample the data so that you have roughly the same amount of data points over the given date range for both Taxi data and Uber data.
    * You may need to do this one file at a time - download, clean, sample. You can cache the sampling by saving it as a CSV file (and thereby freeing up memory on your computer) before moving onto the next file. 
* Uber data:
    * [ ] Download the data manually in the link provided in the project doc.
    * [ ] Load the data from your local computer (using `pandas`), then clean the data, including: 
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * Remove trips that start and/or end outside the designated [coordinate box]
* Using the function that calculates the distance between two coordinates in kilometers, add a column to each `pandas` DataFrame of data that calculates the distance between pickup and dropoff locations for each trip.
* Weather data:
    * [ ] Download the data manually in the link provided in the project doc.
    * [ ] Load the data from your local computer (using `pandas`), then clean the data, including: 
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * Split into two `pandas` DataFrames: one for required hourly data, and one for the required daily daya.
        * You may find that the weather data you need later on does not exist at the frequency needed (daily vs hourly). You may calculate/generate samples from one to populate the other. Just document what you’re doing so we can follow along. 
* Take a look at the lecture notes from the `pandas` lecture for hints on helpful functionality

### Calculating distance
_Write some prose that tells the reader what you're about to do here._

In [26]:
def calculate_distance(from_coord, to_coord):
    lat1, lon1 = from_coord
    lat2, lon2 = to_coord
    R = 6373.0
    dlon = radians(lon2) - radians(lon1)
    dlat = radians(lat2) - radians(lat1)
    
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    return distance

In [27]:
def test_calculate_distance():
    distance = calculate_distance((50,60), (60,60))
    assert distance == 1111

In [28]:
def add_distance_column(dataframe):
    dataframe['distance'] = dataframe.apply(lambda dataframe: calculate_distance((dataframe['pickup_latitude'],dataframe['pickup_longitude']), (dataframe['dropoff_latitude'],dataframe['dropoff_longitude'])), axis = 1)

#### Here we are testing if the add_distance_column function is working, and it works!

In [29]:
df_test = pd.DataFrame(np.array([[50, 60, 60,60],[50,55,60,55]]),
                   columns=['pickup_latitude', 'pickup_longitude', 'dropoff_latitude','dropoff_longitude'])
add_distance_column(df_test)
df_test

,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,distance
0,50,60,60,60,1112.298332
1,50,55,60,55,1112.298332

### Processing Taxi Data

_Write some prose that tells the reader what you're about to do here._

In [30]:
def find_taxi_csv_urls():
    content = requests.get(TAXI_URL)
    soup = bs4.BeautifulSoup(content.text, 'html.parser')
    
    matches = []
    # find all links on the website
    x = [a['href'] for a in soup.find_all('a')]
    
    # filter for yellow trip data from 2009-01 to 2015-06
    pattern = "yellow_tripdata"
    time_range = ["2009", "2010", "2011", "2012", "2013", "2014","2015-01","2015-02","2015-03","2015-04","2015-05","2015-06"]
    
    for time in time_range:
        for i in range(len(x)):
            if time in x[i] and pattern in x[i]:
                matches.append(x[i])
                
    return matches

In [31]:
find_taxi_csv_urls()

['https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-06.csv']

In [40]:
def get_and_clean_month_taxi_data(url):
    
    col_names_2015 = ["vendor_id", "pickup_datetime", "dropoff_datetime","passenger_count", "trip_distance", "pickup_longitude", "pickup_latitude", "rate_code", "store_and_fwd_flag", "dropoff_longitude", "dropoff_latitude", "payment_type","fare_amount","surcharge","mta_tax","tip_amount","tolls_amount","improvement_surcharge","total_amount"]
    col_names_else = ["vendor_id", "pickup_datetime", "dropoff_datetime","passenger_count", "trip_distance", "pickup_longitude", "pickup_latitude", "rate_code", "store_and_fwd_flag", "dropoff_longitude", "dropoff_latitude", "payment_type","fare_amount","surcharge","mta_tax","tip_amount","tolls_amount","total_amount"]
    
    
    # drop useless columns and rename some of the columns
    # year 2015 has different column name so if statement is used here
    if "2015" in url:
        df_taxi = pd.read_csv(url, header=None, names =col_names_2015, low_memory=False)
        df_taxi = df_taxi.iloc[1:,:]
        df_taxi.drop(["vendor_id", "dropoff_datetime", "passenger_count", "trip_distance", "rate_code", "store_and_fwd_flag", "payment_type", "fare_amount", "surcharge", "mta_tax", "tolls_amount", "improvement_surcharge", "total_amount"], inplace=True, axis=1)
    else:
        df_taxi = pd.read_csv(url, header=None, names =col_names_else, low_memory=False)
        df_taxi = df_taxi.iloc[1:,:]
        df_taxi.drop(["vendor_id", "dropoff_datetime", "passenger_count", "trip_distance", "rate_code", "store_and_fwd_flag", "payment_type", "fare_amount", "surcharge", "mta_tax", "tolls_amount", "total_amount"], inplace=True, axis=1)
                
    # clean data that's outside of the BOX COORDS
    df_taxi['pickup_longitude'] = df_taxi['pickup_longitude'].astype(float)
    df_taxi['dropoff_longitude'] = df_taxi['dropoff_longitude'].astype(float)
    df_taxi['dropoff_latitude'] = df_taxi['dropoff_latitude'].astype(float)
    df_taxi['pickup_latitude'] = df_taxi['pickup_latitude'].astype(float)
    
    df_taxi=df_taxi[(df_taxi['pickup_longitude']<NEW_YORK_BOX_COORDS[1][1])&(df_taxi['pickup_longitude']>NEW_YORK_BOX_COORDS[0][1])]
    df_taxi=df_taxi[(df_taxi['dropoff_longitude']<NEW_YORK_BOX_COORDS[1][1])&(df_taxi['dropoff_longitude']>NEW_YORK_BOX_COORDS[0][1])]
    df_taxi=df_taxi[(df_taxi['dropoff_latitude']<NEW_YORK_BOX_COORDS[1][0])&(df_taxi['dropoff_latitude']>NEW_YORK_BOX_COORDS[0][0])]
    df_taxi=df_taxi[(df_taxi['pickup_latitude']<NEW_YORK_BOX_COORDS[1][0])&(df_taxi['pickup_latitude']>NEW_YORK_BOX_COORDS[0][0])]
    
    return df_taxi

In [44]:
def get_and_clean_taxi_data():
    all_taxi_dataframes = []
    all_csv_urls = find_taxi_csv_urls()
    
    for csv_url in all_csv_urls:
        
        dataframe = get_and_clean_month_taxi_data(csv_url)
        month = csv_url[-11:-4]
        dataframe = dataframe.sample(len(uber_data[uber_data['pickup_datetime'].str.contains(month)]))
        
        add_distance_column(dataframe)
        all_taxi_dataframes.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(all_taxi_dataframes, axis=0)
    return taxi_data

### Processing Uber Data

_Write some prose that tells the reader what you're about to do here._

In [34]:
def load_and_clean_uber_data(csv_file):
    df_uber = pd.read_csv(csv_file)
    
    # drop useless columns and rename some of the columns
    df_uber.drop(["Unnamed: 0", "key", "fare_amount", "passenger_count"], inplace=True, axis="columns")
        
    # clean data that's outside of the BOX COORDS
    df_uber=df_uber[(df_uber['pickup_longitude']<NEW_YORK_BOX_COORDS[1][1])&(df_uber['pickup_longitude']>NEW_YORK_BOX_COORDS[0][1])]
    df_uber=df_uber[(df_uber['dropoff_longitude']<NEW_YORK_BOX_COORDS[1][1])&(df_uber['dropoff_longitude']>NEW_YORK_BOX_COORDS[0][1])]
    df_uber=df_uber[(df_uber['dropoff_latitude']<NEW_YORK_BOX_COORDS[1][0])&(df_uber['dropoff_latitude']>NEW_YORK_BOX_COORDS[0][0])]
    df_uber=df_uber[(df_uber['pickup_latitude']<NEW_YORK_BOX_COORDS[1][0])&(df_uber['pickup_latitude']>NEW_YORK_BOX_COORDS[0][0])]
    
    return df_uber

In [35]:
def get_uber_data():
    uber_dataframe = load_and_clean_uber_data(UBER_CSV)
    add_distance_column(uber_dataframe)
    return uber_dataframe

In [36]:
uber_data = get_uber_data()
uber_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,distance
0,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1.683993
1,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,2.458493
2,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,5.893465
3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,1.837688
4,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5.656533
...,...,...,...,...,...,...
199995,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,0.118212
199996,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,2.448332
199997,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,15.727903
199998,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,3.676230
199999,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,5.420073

In [45]:
np.random.seed(123)
taxi_data = get_and_clean_taxi_data()
taxi_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,tip_amount,distance
484715,2009-01-10 12:55:00,-73.994825,40.739978,-74.006367,40.730120,0,1.682893
13187615,2009-01-30 21:59:12,-73.988559,40.670395,-73.899596,40.770505,0,14.841043
13334276,2009-01-24 13:15:41,-73.967479,40.763241,-73.996558,40.716687,0,6.096219
534040,2009-01-06 18:14:57,-73.969972,40.759178,-73.984404,40.748630,0,1.983424
13850826,2009-01-08 08:41:48,-73.984937,40.739625,-73.990305,40.735101,0,0.778412
...,...,...,...,...,...,...,...
11263406,2015-06-28 12:48:42,-73.966370,40.764778,-73.974724,40.753372,1.45,1.570752
11234583,2015-06-16 13:19:26,-73.954063,40.770321,-73.952515,40.778206,1.36,0.893730
10539330,2015-06-15 21:52:01,-73.988182,40.746029,-74.007637,40.740807,8.06,2.230690
4431434,2015-06-11 21:37:28,-73.993500,40.761288,-73.951378,40.785927,3.56,5.418497
1560476,2015-06-07 13:42:29,-73.992081,40.749218,-73.970451,40.750656,0,2.401257

In [48]:
taxi_data = taxi_data.reset_index(drop=True)
taxi_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,tip_amount,distance
0,2009-01-10 12:55:00,-73.994825,40.739978,-74.006367,40.730120,0,1.682893
1,2009-01-30 21:59:12,-73.988559,40.670395,-73.899596,40.770505,0,14.841043
2,2009-01-24 13:15:41,-73.967479,40.763241,-73.996558,40.716687,0,6.096219
3,2009-01-06 18:14:57,-73.969972,40.759178,-73.984404,40.748630,0,1.983424
4,2009-01-08 08:41:48,-73.984937,40.739625,-73.990305,40.735101,0,0.778412
...,...,...,...,...,...,...,...
195467,2015-06-28 12:48:42,-73.966370,40.764778,-73.974724,40.753372,1.45,1.570752
195468,2015-06-16 13:19:26,-73.954063,40.770321,-73.952515,40.778206,1.36,0.893730
195469,2015-06-15 21:52:01,-73.988182,40.746029,-74.007637,40.740807,8.06,2.230690
195470,2015-06-11 21:37:28,-73.993500,40.761288,-73.951378,40.785927,3.56,5.418497
195471,2015-06-07 13:42:29,-73.992081,40.749218,-73.970451,40.750656,0,2.401257

In [49]:
taxi_data.to_csv(r'D:\Project\final-project-4501\taxi_data.csv', header=True)

### Processing Weather Data

_Write some prose that tells the reader what you're about to do here._

In [11]:
def clean_month_weather_data_hourly(csv_file):
    raise NotImplemented()
    
    
def clean_month_weather_data_daily(csv_file):
    raise NotImplemented()
    

def load_and_clean_weather_data():
    hourly_dataframes = []
    daily_dataframes = []
    
    # add some way to find all weather CSV files
    # or just add the name/paths manually
    weather_csv_files = ["TODO"]
    
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    return hourly_data, daily_data

### Process All Data

_This is where you can actually execute all the required functions._

_Write some prose that tells the reader what you're about to do here._

In [ ]:
taxi_data = get_and_clean_taxi_data()
uber_data = get_uber_data()
hourly_weather, daily_weather = load_and_clean_weather_data()

## Part 2: Storing Cleaned Data

_Write some prose that tells the reader what you're about to do here._

In [14]:
engine = db.create_engine(DATABASE_URL)

In [15]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA = """
TODO
"""

DAILY_WEATHER_SCHEMA = """
TODO
"""

TAXI_TRIPS_SCHEMA = """
TODO
"""

UBER_TRIPS_SCHEMA = """
TODO
"""

In [ ]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [16]:
# create the tables with the schema files
with engine.connect() as connection:
    pass

### Add Data to Database

_Write some prose that tells the reader what you're about to do here._

In [17]:
def dataframes_to_table():
    raise NotImplemented()

In [ ]:
table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_data,
    "daily_weather": daily_data,
}

dataframes_to_table(table_name_to_dataframe)

## Part 3: Understanding the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi? The result should have 24 bins.
* [ ] For the same time frame, what day of the week was the most popular to take an uber? The result should have 7 bins.
* [ ] What is the 95% percentile of distance traveled for all hired trips during July 2013?
* [ ] What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?
* [ ] Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?
* [ ] During Hurricane Sandy in NYC (Oct 29-30, 2012) and the week leading up to it, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?

In [18]:
def write_query_to_file(query, outfile):
    raise NotImplemented()

### Query N

_Write some prose that tells the reader what you're about to do here._

_Repeat for each query_

In [ ]:
QUERY_N = """
TODO
"""

In [ ]:
engine.execute(QUERY_N).fetchall()

In [ ]:
write_query_to_file(QUERY_N, "some_descriptive_name.sql")

## Part 4: Visualizing the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Create an appropriate visualization for the first query/question in part 3
* [ ] Create a visualization that shows the average distance traveled per month (regardless of year - so group by each month). Include the 90% confidence interval around the mean in the visualization
* [ ] Define three lat/long coordinate boxes around the three major New York airports: LGA, JFK, and EWR (you can use bboxfinder to help). Create a visualization that compares what day of the week was most popular for drop offs for each airport.
* [ ] Create a heatmap of all hired trips over a map of the area. Consider using KeplerGL or another library that helps generate geospatial visualizations.
* [ ] Create a scatter plot that compares tip amount versus distance.
* [ ] Create another scatter plot that compares tip amount versus precipitation amount.
* [ ] Come up with 3 questions on your own that can be answered based on the data in the 4 tables. Create at least one visualization to answer each question. At least one visualization should require data from at least 3 tables.

_Be sure these cells are executed so that the visualizations are rendered when the notebook is submitted._

### Visualization N

_Write some prose that tells the reader what you're about to do here._

_Repeat for each visualization._

_You don't have to query the data directly from the database. You can just re-use the pandas DataFrame that you created in Part 1._

_The example below makes use of the `matplotlib` library. There are other libraries, including `pandas` built-in plotting library, kepler for geospatial data representation, `seaborn`, and others._

In [19]:
# use a more descriptive name for your function
def plot_visual_n(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
plot_visual_n(some_dataframe)