# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1tGcX2qzS2GoaN5zFeD5DVJxqDmoQdmMs7QncZwFCEqU/edit#)_

_This scaffolding notebook may be used to help setup your final project. It's totally optional whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_Anything in italics (prose) or comments (in code) is meant to provide you with guidance. **Remove the italic lines and provided comments** before submitting the project, if you choose to use this scaffolding. We don't need the guidance when grading._

_All code should be consider "pseudo-code" - not functional by itself, and only a suggestion at the approach._

## Requirements

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project._

* Code clarity: make sure the code conforms to:
    * [ ] [PEP 8](https://peps.python.org/pep-0008/) - You might find [this resource](https://realpython.com/python-pep8/) helpful as well as [this](https://github.com/dnanhkhoa/nb_black) or [this](https://jupyterlab-code-formatter.readthedocs.io/en/latest/) tool
    * [ ] [PEP 257](https://peps.python.org/pep-0257/)
    * [ ] Break each task down into logical functions
* The following files are submitted for the project (see the project's GDoc for more details):
    * [ ] `README.md`
    * [ ] `requirements.txt`
    * [ ] `.gitignore`
    * [ ] `schema.sql`
    * [ ] 6 query files (using the `.sql` extension), appropriately named for the purpose of the query
    * [x] Jupyter Notebook containing the project (this file!)
* [x] You can edit this cell and add a `x` inside the `[ ]` like this task to denote a completed task

## Project Setup

In [1]:
# all import statements needed for the project

import math
import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import numpy as np
from math import sin, cos, sqrt, atan2, radians
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base
import sqlalchemy as db
from sqlalchemy.schema import CreateTable
import logging
from sqlalchemy import Column, Integer, String, Float, DateTime, Date
from sqlalchemy import func
from sqlalchemy.orm import sessionmaker

In [2]:
# Constants we need for convenience
TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
UBER_CSV = "uber_rides_sample.csv"
NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

## Part 1: Data Preprocessing

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Define a function that calculates the distance between two coordinates in kilometers that **only uses the `math` module** from the standard library
* [ ] Write at least one unit test that tests this distance calculation function. 
* Taxi data:
    * [ ] Use `requests`, BeautifulSoup (`bs4`), and `pandas` to programmatically download the required CSV files & load into memory.
    * [ ] Clean the data, including:
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * Remove trips that start and/or end outside the designated [coordinate box](http://bboxfinder.com/#40.560445,-74.242330,40.908524,-73.717047)
    * [ ] Sample the data so that you have roughly the same amount of data points over the given date range for both Taxi data and Uber data.
    * You may need to do this one file at a time - download, clean, sample. You can cache the sampling by saving it as a CSV file (and thereby freeing up memory on your computer) before moving onto the next file. 
* Uber data:
    * [ ] Download the data manually in the link provided in the project doc.
    * [ ] Load the data from your local computer (using `pandas`), then clean the data, including: 
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * Remove trips that start and/or end outside the designated [coordinate box]
* Using the function that calculates the distance between two coordinates in kilometers, add a column to each `pandas` DataFrame of data that calculates the distance between pickup and dropoff locations for each trip.
* Weather data:
    * [ ] Download the data manually in the link provided in the project doc.
    * [ ] Load the data from your local computer (using `pandas`), then clean the data, including: 
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * Split into two `pandas` DataFrames: one for required hourly data, and one for the required daily daya.
        * You may find that the weather data you need later on does not exist at the frequency needed (daily vs hourly). You may calculate/generate samples from one to populate the other. Just document what youâ€™re doing so we can follow along. 
* Take a look at the lecture notes from the `pandas` lecture for hints on helpful functionality

### Calculating distance
Here we calculate the distance using haversine formula and we adjust the distance in the unit of kilometers.

In [3]:
def calculate_distance(from_coord, to_coord):
    lat1, lon1 = from_coord
    lat2, lon2 = to_coord
    R = 6373.0
    dlon = radians(lon2) - radians(lon1)
    dlat = radians(lat2) - radians(lat1)
    
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    return distance

Here we test if the calculate distance function works, and it works!

In [4]:
def test_calculate_distance():
    distance = calculate_distance((50,60), (60,60))
    assert distance == 1111

In [5]:
def add_distance_column(dataframe):
    dataframe['distance'] = dataframe.apply(lambda dataframe: calculate_distance((dataframe['pickup_latitude'],dataframe['pickup_longitude']), (dataframe['dropoff_latitude'],dataframe['dropoff_longitude'])), axis = 1)

We are testing if the add_distance_column function is working, and it works!

In [6]:
df_test = pd.DataFrame(np.array([[50, 60, 60,60],[50,55,60,55]]),
                   columns=['pickup_latitude', 'pickup_longitude', 'dropoff_latitude','dropoff_longitude'])
add_distance_column(df_test)
df_test

,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,distance
0,50,60,60,60,1112.298332
1,50,55,60,55,1112.298332

### Processing Taxi Data

We parse the url to get the link for our csv file. We also apply some constraints to make sure we get the data in the given time frame.

In [7]:
def find_taxi_csv_urls():
    content = requests.get(TAXI_URL)
    soup = bs4.BeautifulSoup(content.text, 'html.parser')
    
    matches = []
    # find all links on the website
    x = [a['href'] for a in soup.find_all('a')]
    
    # filter for yellow trip data from 2009-01 to 2015-06
    pattern = "yellow_tripdata"
    time_range = ["2009", "2010", "2011", "2012", "2013", "2014","2015-01","2015-02","2015-03","2015-04","2015-05","2015-06"]
    
    for time in time_range:
        for i in range(len(x)):
            if time in x[i] and pattern in x[i]:
                matches.append(x[i])
                
    return matches

In [8]:
find_taxi_csv_urls()

['https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-06.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-07.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-08.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-09.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-10.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-11.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-12.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-01.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-02.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-03.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-04.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-05.csv',
 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-06.csv']

#### Get and clean the yellow taxi data for each month. 

1. `Preset column names` 

We preset the column names as those files contains relatively similar elements and it also saves us the work to rename columns afterwards. However, we noticed that data for 2015 has one more columns than other years so there is one more column for 2015 data. 

2. `Drop unrelated columns`

We only leave columns that are related to questions in other parts to save program run time. We also filtered out the rows in which the coordinates are out of box coordinates

In [9]:
def get_and_clean_month_taxi_data(url):
    
    col_names_2015 = ["vendor_id", 
                      "pickup_datetime", 
                      "dropoff_datetime",
                      "passenger_count", 
                      "trip_distance", 
                      "pickup_longitude", 
                      "pickup_latitude", 
                      "rate_code", 
                      "store_and_fwd_flag", 
                      "dropoff_longitude", 
                      "dropoff_latitude", 
                      "payment_type",
                      "fare_amount",
                      "surcharge",
                      "mta_tax",
                      "tip_amount",
                      "tolls_amount",
                      "improvement_surcharge",
                      "total_amount"]
    
    col_names_else = ["vendor_id", 
                      "pickup_datetime", 
                      "dropoff_datetime",
                      "passenger_count", 
                      "trip_distance", 
                      "pickup_longitude", 
                      "pickup_latitude", 
                      "rate_code", 
                      "store_and_fwd_flag", 
                      "dropoff_longitude", 
                      "dropoff_latitude", 
                      "payment_type",
                      "fare_amount",
                      "surcharge",
                      "mta_tax",
                      "tip_amount",
                      "tolls_amount",
                      "total_amount"]
    
    
    # drop useless columns and rename some of the columns
    # year 2015 has different column name so if statement is used here
    if "2015" in url:
        df_taxi = pd.read_csv(url, header=None, names =col_names_2015, low_memory=False)
        df_taxi = df_taxi.iloc[1:,:]
        df_taxi.drop(["vendor_id", 
                      "dropoff_datetime", 
                      "passenger_count", 
                      "trip_distance", 
                      "rate_code", 
                      "store_and_fwd_flag", 
                      "payment_type", 
                      "fare_amount", 
                      "surcharge", 
                      "mta_tax", 
                      "tolls_amount", 
                      "improvement_surcharge", 
                      "total_amount"], inplace=True, axis=1)
    else:
        df_taxi = pd.read_csv(url, header=None, names =col_names_else, low_memory=False)
        df_taxi = df_taxi.iloc[1:,:]
        df_taxi.drop(["vendor_id", 
                      "dropoff_datetime", 
                      "passenger_count", 
                      "trip_distance", 
                      "rate_code", 
                      "store_and_fwd_flag", 
                      "payment_type", 
                      "fare_amount", 
                      "surcharge", 
                      "mta_tax", 
                      "tolls_amount", 
                      "total_amount"], inplace=True, axis=1)
                
    # clean data that's outside of the BOX COORDS
    df_taxi['pickup_longitude'] = df_taxi['pickup_longitude'].astype(float)
    df_taxi['dropoff_longitude'] = df_taxi['dropoff_longitude'].astype(float)
    df_taxi['dropoff_latitude'] = df_taxi['dropoff_latitude'].astype(float)
    df_taxi['pickup_latitude'] = df_taxi['pickup_latitude'].astype(float)
    
    df_taxi=df_taxi[(df_taxi['pickup_longitude']<NEW_YORK_BOX_COORDS[1][1])&(df_taxi['pickup_longitude']>NEW_YORK_BOX_COORDS[0][1])]
    df_taxi=df_taxi[(df_taxi['dropoff_longitude']<NEW_YORK_BOX_COORDS[1][1])&(df_taxi['dropoff_longitude']>NEW_YORK_BOX_COORDS[0][1])]
    df_taxi=df_taxi[(df_taxi['dropoff_latitude']<NEW_YORK_BOX_COORDS[1][0])&(df_taxi['dropoff_latitude']>NEW_YORK_BOX_COORDS[0][0])]
    df_taxi=df_taxi[(df_taxi['pickup_latitude']<NEW_YORK_BOX_COORDS[1][0])&(df_taxi['pickup_latitude']>NEW_YORK_BOX_COORDS[0][0])]
    
    return df_taxi

In [10]:
def get_and_clean_taxi_data():
    all_taxi_dataframes = []
    all_csv_urls = find_taxi_csv_urls()
    
    for csv_url in all_csv_urls:
        
        dataframe = get_and_clean_month_taxi_data(csv_url)
        
        # sample the same size from the yellow taxi data set as the uber data each month in the time range
        month = csv_url[-11:-4]
        dataframe = dataframe.sample(len(uber_data[uber_data['pickup_datetime'].str.contains(month)]))
        
        # add distance column
        add_distance_column(dataframe)
        
        all_taxi_dataframes.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(all_taxi_dataframes, axis=0)
    return taxi_data

### Processing Uber Data

We drop unrelated columns and filtered out the rows in which the coordinates are out of box coordinates.

In [11]:
def load_and_clean_uber_data(csv_file):
    df_uber = pd.read_csv(csv_file)
    
    # drop useless columns and rename some of the columns
    df_uber.drop(["Unnamed: 0", "key", "fare_amount", "passenger_count"], inplace=True, axis="columns")
        
    # clean data that's outside of the BOX COORDS
    df_uber=df_uber[(df_uber['pickup_longitude']<NEW_YORK_BOX_COORDS[1][1])&(df_uber['pickup_longitude']>NEW_YORK_BOX_COORDS[0][1])]
    df_uber=df_uber[(df_uber['dropoff_longitude']<NEW_YORK_BOX_COORDS[1][1])&(df_uber['dropoff_longitude']>NEW_YORK_BOX_COORDS[0][1])]
    df_uber=df_uber[(df_uber['dropoff_latitude']<NEW_YORK_BOX_COORDS[1][0])&(df_uber['dropoff_latitude']>NEW_YORK_BOX_COORDS[0][0])]
    df_uber=df_uber[(df_uber['pickup_latitude']<NEW_YORK_BOX_COORDS[1][0])&(df_uber['pickup_latitude']>NEW_YORK_BOX_COORDS[0][0])]
    
    return df_uber

### Get Uber data and a quick glance

In [12]:
def get_uber_data():
    uber_dataframe = load_and_clean_uber_data(UBER_CSV)
    # add the distance column
    add_distance_column(uber_dataframe)
    return uber_dataframe

In [13]:
uber_data = get_uber_data()
uber_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,distance
0,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1.683993
1,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,2.458493
2,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,5.893465
3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,1.837688
4,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5.656533
...,...,...,...,...,...,...
199995,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,0.118212
199996,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,2.448332
199997,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,15.727903
199998,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,3.676230
199999,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,5.420073

### Get and sample yellow taxi data and a quick glance

In [45]:
# set seed so we have same result every time we run the code
np.random.seed(123)
taxi_data = get_and_clean_taxi_data()
taxi_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,tip_amount,distance
484715,2009-01-10 12:55:00,-73.994825,40.739978,-74.006367,40.730120,0,1.682893
13187615,2009-01-30 21:59:12,-73.988559,40.670395,-73.899596,40.770505,0,14.841043
13334276,2009-01-24 13:15:41,-73.967479,40.763241,-73.996558,40.716687,0,6.096219
534040,2009-01-06 18:14:57,-73.969972,40.759178,-73.984404,40.748630,0,1.983424
13850826,2009-01-08 08:41:48,-73.984937,40.739625,-73.990305,40.735101,0,0.778412
...,...,...,...,...,...,...,...
11263406,2015-06-28 12:48:42,-73.966370,40.764778,-73.974724,40.753372,1.45,1.570752
11234583,2015-06-16 13:19:26,-73.954063,40.770321,-73.952515,40.778206,1.36,0.893730
10539330,2015-06-15 21:52:01,-73.988182,40.746029,-74.007637,40.740807,8.06,2.230690
4431434,2015-06-11 21:37:28,-73.993500,40.761288,-73.951378,40.785927,3.56,5.418497
1560476,2015-06-07 13:42:29,-73.992081,40.749218,-73.970451,40.750656,0,2.401257

In [48]:
# reindex the dataframe to look cleaner
taxi_data = taxi_data.reset_index(drop=True)
taxi_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,tip_amount,distance
0,2009-01-10 12:55:00,-73.994825,40.739978,-74.006367,40.730120,0,1.682893
1,2009-01-30 21:59:12,-73.988559,40.670395,-73.899596,40.770505,0,14.841043
2,2009-01-24 13:15:41,-73.967479,40.763241,-73.996558,40.716687,0,6.096219
3,2009-01-06 18:14:57,-73.969972,40.759178,-73.984404,40.748630,0,1.983424
4,2009-01-08 08:41:48,-73.984937,40.739625,-73.990305,40.735101,0,0.778412
...,...,...,...,...,...,...,...
195467,2015-06-28 12:48:42,-73.966370,40.764778,-73.974724,40.753372,1.45,1.570752
195468,2015-06-16 13:19:26,-73.954063,40.770321,-73.952515,40.778206,1.36,0.893730
195469,2015-06-15 21:52:01,-73.988182,40.746029,-74.007637,40.740807,8.06,2.230690
195470,2015-06-11 21:37:28,-73.993500,40.761288,-73.951378,40.785927,3.56,5.418497
195471,2015-06-07 13:42:29,-73.992081,40.749218,-73.970451,40.750656,0,2.401257

In [49]:
# save file to local path for convenient use for other questions
taxi_data.to_csv(r'D:\Project\final-project-4501\taxi_data.csv', header=True)

Read sampled yellow taxi data from local path

In [14]:
taxi_data = pd.read_csv(r'D:\Project\final-project-4501\taxi_data.csv')
taxi_data = taxi_data.iloc[:,1:]
taxi_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,tip_amount,distance
0,2009-01-10 12:55:00,-73.994825,40.739978,-74.006367,40.730120,0.00,1.682893
1,2009-01-30 21:59:12,-73.988559,40.670395,-73.899596,40.770505,0.00,14.841043
2,2009-01-24 13:15:41,-73.967479,40.763241,-73.996558,40.716687,0.00,6.096219
3,2009-01-06 18:14:57,-73.969972,40.759178,-73.984404,40.748630,0.00,1.983424
4,2009-01-08 08:41:48,-73.984937,40.739625,-73.990305,40.735101,0.00,0.778412
...,...,...,...,...,...,...,...
195467,2015-06-28 12:48:42,-73.966370,40.764778,-73.974724,40.753372,1.45,1.570752
195468,2015-06-16 13:19:26,-73.954063,40.770321,-73.952515,40.778206,1.36,0.893730
195469,2015-06-15 21:52:01,-73.988182,40.746029,-74.007637,40.740807,8.06,2.230690
195470,2015-06-11 21:37:28,-73.993500,40.761288,-73.951378,40.785927,3.56,5.418497
195471,2015-06-07 13:42:29,-73.992081,40.749218,-73.970451,40.750656,0.00,2.401257

### Processing Weather Data

We save only three columns `['DATE','HourlyWindSpeed','HourlyPrecipitation']` for weather data because that's what we need.

In [15]:
def clean_month_weather_data_hourly(csv_file):
    hourly_data = pd.read_csv(csv_file,low_memory=False)
    # fill unreported blank cells with 0
    hourly_data=hourly_data[['DATE','HourlyWindSpeed','HourlyPrecipitation']].fillna('0')
    hourly_data['DATE'] = pd.to_datetime(hourly_data['DATE'])
    hourly_data['HourlyPrecipitation']=hourly_data.apply (lambda row: convert(row), axis=1)
    hourly_data['HourlyPrecipitation'] = hourly_data['HourlyPrecipitation'].astype(float)
    hourly_data['HourlyWindSpeed'] = hourly_data['HourlyWindSpeed'].astype(float)
    return hourly_data

We defined a function to clean and refill the `HourlyPrecipitation` column

In [16]:
def convert(dataframe):
    if 'T' in dataframe.HourlyPrecipitation:
        return float(0)
    elif 's' in dataframe.HourlyPrecipitation:
        return dataframe.HourlyPrecipitation[:-1]
    else:
        return dataframe.HourlyPrecipitation

We defined a function to convert the `Hourly Data` to `Daily Data`

In [17]:
def clean_month_weather_data_daily(csv_file):
    hourly_data = clean_month_weather_data_hourly(csv_file)
    daily_data = hourly_data.groupby([hourly_data['DATE'].dt.date]).sum()/24
    daily_data.columns=['DailyWindSpeed','DailyPrecipitation']
    return daily_data

We defined two functions to process all weather data files and generate hourly data and daily data

In [18]:
def load_and_clean_weather_data_hourly():
    hourly_dataframes = []
    
    weather_csv_files = ["2009_weather.csv",
                         "2010_weather.csv",
                         "2011_weather.csv",
                         "2012_weather.csv",
                         "2013_weather.csv",
                         "2014_weather.csv",
                         "2015_weather.csv"]
    
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes, axis=0)
    hourly_data.reset_index(inplace = True)
    return hourly_data

In [19]:
def load_and_clean_weather_data_daily():
    daily_dataframes = []
    
    weather_csv_files = ["2009_weather.csv",
                         "2010_weather.csv",
                         "2011_weather.csv",
                         "2012_weather.csv",
                         "2013_weather.csv",
                         "2014_weather.csv",
                         "2015_weather.csv"]
    
    for csv_file in weather_csv_files:
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        daily_dataframes.append(daily_dataframe)
        
    daily_data = pd.concat(daily_dataframes, axis=0)
    daily_data.reset_index(inplace = True)
    return daily_data

### Get weather data and a quick view

In [20]:
data_hourly = load_and_clean_weather_data_hourly()
data_hourly

       index                DATE  HourlyWindSpeed  HourlyPrecipitation
0          0 2009-01-01 00:51:00             18.0                  0.0
1          1 2009-01-01 01:51:00             18.0                  0.0
2          2 2009-01-01 02:51:00             18.0                  0.0
3          3 2009-01-01 03:51:00              8.0                  0.0
4          4 2009-01-01 04:51:00             11.0                  0.0
...      ...                 ...              ...                  ...
77967  11382 2015-12-31 21:51:00              0.0                  0.0
77968  11383 2015-12-31 22:51:00              7.0                  0.0
77969  11384 2015-12-31 23:51:00              5.0                  0.0
77970  11385 2015-12-31 23:59:00              0.0                  0.0
77971  11386 2015-12-31 23:59:00              0.0                  0.0

[77972 rows x 4 columns]

In [21]:
data_daily = load_and_clean_weather_data_daily()
data_daily

            DATE  DailyWindSpeed  DailyPrecipitation
0     2009-01-01       11.041667            0.000000
1     2009-01-02        8.791667            0.000000
2     2009-01-03        9.875000            0.000000
3     2009-01-04        8.291667            0.000000
4     2009-01-05        7.791667            0.000000
...          ...             ...                 ...
2546  2015-12-27        9.208333            0.007083
2547  2015-12-28        8.208333            0.001250
2548  2015-12-29       15.250000            0.038750
2549  2015-12-30        6.625000            0.012083
2550  2015-12-31        6.125000            0.003333

[2551 rows x 3 columns]

## Part 2: Storing Cleaned Data

_Write some prose that tells the reader what you're about to do here._

In [22]:
engine = db.create_engine(DATABASE_URL, echo=True)

In [23]:
sqllogger = logging.getLogger("sqlalchemy.engine.Engine")
formatter = logging.Formatter("[sqlalchemy] %(message)s")
sqllogger.handlers[0].setFormatter(formatter)

In [24]:
Base = declarative_base()

In [25]:
class Taxi(Base):
    __tablename__ = "taxi_data" 
    
    id = Column(Integer, primary_key=True)
    pickup_datetime  = Column(DateTime)
    dropoff_datetime = Column(DateTime)
    pickup_longitude = Column(Float)
    pickup_latitude = Column(Float)
    dropoff_longitude = Column(Float)
    dropoff_latitude = Column(Float)
    tip_amount = Column(Float)
    total_amount = Column(Float)
    distance = Column(Float)     

class Uber(Base):
    __tablename__ = "uber"
    
    id = Column(Integer, primary_key=True)
    pickup_datetime  = Column(DateTime)
    pickup_longitude = Column(Float)
    pickup_latitude = Column(Float)
    dropoff_longitude = Column(Float)
    dropoff_latitude = Column(Float)
    distance = Column(Float) 

class Hourly_Data(Base):
    __tablename__ = "hourly_weather"
    
    id = Column(Integer, primary_key=True)
    Date  = Column(DateTime)
    HourlyWindSpeed = Column(Float)
    HourlyPrecipitation = Column(Float)

class Daily_Data(Base):
    __tablename__ = "daily_weather"
    
    id = Column(Integer, primary_key=True)
    Date  = Column(Date)
    DailyWindSpeed = Column(Float)
    DailyPrecipitation = Column(Float)

In [26]:
Base.metadata.create_all(engine)

[sqlalchemy] BEGIN (implicit)
[sqlalchemy] PRAGMA main.table_info("taxi_data")
[sqlalchemy] [raw sql] ()
[sqlalchemy] PRAGMA main.table_info("uber")
[sqlalchemy] [raw sql] ()
[sqlalchemy] PRAGMA main.table_info("hourly_weather")
[sqlalchemy] [raw sql] ()
[sqlalchemy] PRAGMA main.table_info("daily_weather")
[sqlalchemy] [raw sql] ()
[sqlalchemy] COMMIT

In [27]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA = str(CreateTable(Taxi.__table__))

DAILY_WEATHER_SCHEMA = str(CreateTable(Daily_Data.__table__))

TAXI_TRIPS_SCHEMA = str(CreateTable(Hourly_Data.__table__))

UBER_TRIPS_SCHEMA = str(CreateTable(Uber.__table__))

In [28]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

### Add Data to Database

_Write some prose that tells the reader what you're about to do here._

In [31]:
taxi_data.to_sql('yellow_taxi', engine, if_exists='append', index=False)
uber_data.to_sql('uber', engine, if_exists='append',index=False)
data_daily.to_sql('daily_weather', engine, if_exists='append', index=False)
data_hourly.to_sql('hourly_weather', engine, if_exists='append',index=False)
#if_exists='append'

[sqlalchemy] PRAGMA main.table_info("yellow_taxi")
[sqlalchemy] [raw sql] ()
[sqlalchemy] BEGIN (implicit)
[sqlalchemy] INSERT INTO yellow_taxi (pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount, distance) VALUES (?, ?, ?, ?, ?, ?, ?)
[sqlalchemy] [generated in 0.62109s] (('2009-01-10 12:55:00', -73.994825, 40.739978, -74.006367, 40.73012, 0.0, 1.6828933955740737), ('2009-01-30 21:59:12', -73.988559, 40.670395, -73.899596, 40.770505, 0.0, 14.84104344013526), ('2009-01-24 13:15:41', -73.967479, 40.763241, -73.996558, 40.716687, 0.0, 6.0962194791545885), ('2009-01-06 18:14:57', -73.969972, 40.759178, -73.984404, 40.74863, 0.0, 1.9834241246838145), ('2009-01-08 08:41:48', -73.984937, 40.739625, -73.990305, 40.735101, 0.0, 0.7784118768516332), ('2009-01-24 19:21:31', -74.010623, 40.703442, -74.007369, 40.707143, 0.0, 0.5459663898343566), ('2009-01-21 20:30:05', -74.006673, 40.706364, -74.005535, 40.73092, 1.95, 2.7342473742194264), ('2009-01-19 09:49:00', -73.788823, 40.64141, -73.978173, 40.663547, 0.0, 20.83407982640364)  ... displaying 10 of 195472 total bound parameter sets ...  ('2015-06-11 21:37:28', -73.99349975585938, 40.76128768920898, -73.95137786865234, 40.785926818847656, 3.56, 5.418497248365127), ('2015-06-07 13:42:29', -73.99208068847656, 40.74921798706055, -73.97045135498047, 40.75065612792969, 0.0, 2.401256936440828))
[sqlalchemy] COMMIT
[sqlalchemy] PRAGMA main.table_info("uber")
[sqlalchemy] [raw sql] ()
[sqlalchemy] BEGIN (implicit)
[sqlalchemy] INSERT INTO uber (pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, distance) VALUES (?, ?, ?, ?, ?, ?)
[sqlalchemy] [generated in 0.62445s] (('2015-05-07 19:52:06 UTC', -73.99981689453125, 40.73835372924805, -73.99951171875, 40.72321701049805, 1.6839927149478344), ('2009-07-17 20:04:56 UTC', -73.994355, 40.728225, -73.99471, 40.750325, 2.4584931474785594), ('2009-08-24 21:45:00 UTC', -74.005043, 40.74077, -73.962565, 40.772647, 5.893465015293266), ('2009-06-26 08:22:21 UTC', -73.976124, 40.790844, -73.965316, 40.803349, 1.837688280577297), ('2014-08-28 17:47:00 UTC', -73.925023, 40.744085, -73.97308199999999, 40.761247, 5.6565331890769395), ('2011-02-12 02:27:09 UTC', -73.96901899999999, 40.75591, -73.96901899999999, 40.75591, 0.0), ('2014-10-12 07:04:00 UTC', -73.96144699999999, 40.693965000000006, -73.871195, 40.774297, 13.390777136100514), ('2012-02-17 09:32:00 UTC', -73.975187, 40.745767, -74.00272, 40.743537, 3.0584473650197044)  ... displaying 10 of 195472 total bound parameter sets ...  ('2015-05-20 14:56:25 UTC', -73.99712371826173, 40.7254524230957, -73.98321533203125, 40.69541549682617, 3.676229694844928), ('2010-05-15 04:08:00 UTC', -73.98439499999999, 40.720077, -73.985508, 40.768793, 5.420072667200365))
[sqlalchemy] COMMIT
[sqlalchemy] PRAGMA main.table_info("daily_weather")
[sqlalchemy] [raw sql] ()
[sqlalchemy] BEGIN (implicit)
[sqlalchemy] INSERT INTO daily_weather ("DATE", "DailyWindSpeed", "DailyPrecipitation") VALUES (?, ?, ?)
[sqlalchemy] [generated in 0.00677s] (('2009-01-01', 11.041666666666666, 0.0), ('2009-01-02', 8.791666666666666, 0.0), ('2009-01-03', 9.875, 0.0), ('2009-01-04', 8.291666666666666, 0.0), ('2009-01-05', 7.791666666666667, 0.0), ('2009-01-06', 8.625, 0.005), ('2009-01-07', 15.583333333333334, 0.07583333333333334), ('2009-01-08', 12.125, 0.0)  ... displaying 10 of 2551 total bound parameter sets ...  ('2015-12-30', 6.625, 0.012083333333333335), ('2015-12-31', 6.125, 0.0033333333333333335))
[sqlalchemy] COMMIT
[sqlalchemy] PRAGMA main.table_info("hourly_weather")
[sqlalchemy] [raw sql] ()
[sqlalchemy] BEGIN (implicit)
[sqlalchemy] INSERT INTO hourly_weather ("index", "DATE", "HourlyWindSpeed", "HourlyPrecipitation") VALUES (?, ?, ?, ?)
[sqlalchemy] [generated in 0.27652s] ((0, '2009-01-01 00:51:00.000000', 18.0, 0.0), (1, '2009-01-01 01:51:00.000000', 18.0, 0.0), (2, '2009-01-01 02:51:00.000000', 18.0, 0.0), (3, '2009-01-01 03:51:00.000000', 8.0, 0.0), (4, '2009-01-01 04:51:00.000000', 11.0, 0.0), (5, '2009-01-01 05:51:00.000000', 18.0, 0.0), (6, '2009-01-01 06:51:00.000000', 14.0, 0.0), (7, '2009-01-01 07:51:00.000000', 8.0, 0.0)  ... displaying 10 of 77972 total bound parameter sets ...  (11385, '2015-12-31 23:59:00.000000', 0.0, 0.0), (11386, '2015-12-31 23:59:00.000000', 0.0, 0.0))
[sqlalchemy] COMMIT

## Part 3: Understanding the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi? The result should have 24 bins.
* [ ] For the same time frame, what day of the week was the most popular to take an uber? The result should have 7 bins.
* [ ] What is the 95% percentile of distance traveled for all hired trips during July 2013?
* [ ] What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?
* [ ] Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?
* [ ] During Hurricane Sandy in NYC (Oct 29-30, 2012) and the week leading up to it, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?

* [ ] For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi? The result should have 24 bins.

### Query N

_Write some prose that tells the reader what you're about to do here._

_Repeat for each query_

In [86]:
q_most_popular_hour_taxi = """
SELECT strftime('%H', pickup_datetime) as hour,count(*)
FROM yellow_taxi 
GROUP BY hour 
ORDER BY count(*) DESC
"""

In [87]:
engine.execute(q_most_popular_hour).fetchall()

[sqlalchemy]
SELECT strftime('%H', pickup_datetime) as hour,count(*)
FROM yellow_taxi GROUP BY hour order by count(*) DESC

[sqlalchemy] [raw sql] ()

[('19', 61540),
 ('18', 58850),
 ('20', 57330),
 ('21', 56460),
 ('22', 54090),
 ('14', 49415),
 ('23', 49115),
 ('17', 48845),
 ('12', 47830),
 ('15', 46930),
 ('13', 46920),
 ('09', 46205),
 ('11', 45980),
 ('08', 44060),
 ('10', 43695),
 ('16', 40465),
 ('00', 38810),
 ('07', 34850),
 ('01', 28485),
 ('02', 21200),
 ('06', 19960),
 ('03', 15235),
 ('04', 11645),
 ('05', 9445)]

In [76]:
print(engine.execute(q_most_popular_hour_taxi).fetchall()[0][0], 'was the most popular to take a yellow taxi.')

[sqlalchemy]
SELECT strftime('%H', pickup_datetime) as hour,count(*)
FROM yellow_taxi GROUP BY hour order by count(*) DESC

[sqlalchemy] [raw sql] ()
19 was the most popular to take a yellow taxi.

In [77]:
with open('Most_Popular_Hour_Taxi.sql', "w") as f:
    f.write(q_most_popular_hour)

* [ ] For the same time frame, what day of the week was the most popular to take an uber? The result should have 7 bins.

In [102]:
q_most_popular_day_uber = """
SELECT strftime('%w', pickup_datetime) AS day, COUNT(*)
FROM yellow_taxi 
GROUP BY day
ORDER BY COUNT(*) DESC
"""

In [103]:
engine.execute(q_most_popular_day_uber).fetchall()

[sqlalchemy]
SELECT strftime('%w', pickup_datetime) AS day, COUNT(*)
FROM yellow_taxi
GROUP BY day
ORDER BY COUNT(*) DESC

[sqlalchemy] [raw sql] ()

[('5', 149005),
 ('6', 148305),
 ('4', 147190),
 ('3', 142950),
 ('2', 137870),
 ('0', 127925),
 ('1', 124115)]

In [104]:
print('Friday was the most popular to take an Uber.')

Friday was the most popular to take an Uber.

In [105]:
with open('Most_Popular_Day_Uber.sql', "w") as f:
    f.write(q_most_popular_day_uber)

* [ ] What is the 95% percentile of distance traveled for all hired trips during July 2013?

In [86]:
q_95_distance = """
SELECT distance
FROM
(
SELECT pickup_datetime, distance FROM yellow_taxi
WHERE pickup_datetime LIKE '2013-07%'
UNION
SELECT pickup_datetime, distance FROM uber
WHERE pickup_datetime LIKE '2013-07%'
ORDER BY distance ASC
)
"""

In [87]:
engine.execute(q_95_distance).fetchall()

[sqlalchemy]
SELECT distance
FROM
(
SELECT pickup_datetime, distance FROM yellow_taxi
WHERE pickup_datetime LIKE '2013-07%'
UNION
SELECT pickup_datetime, distance FROM uber
WHERE pickup_datetime LIKE '2013-07%'
ORDER BY distance ASC
)

[sqlalchemy] [raw sql] ()

[(0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0001112298329618,),
 (0.00011122983296185665,),
 (0.0009562454342731,),
 (0.0009562454342731319,),
 (0.0017891930620298636,),
 (0.003241562703765,),
 (0.00324156270376504,),
 (0.0033516784373125445,),
 (0.0066108288161783,),
 (0.006610828816178349,),
 (0.0066787190151616,),
 (0.006678719015161673,),
 (0.0093853878341393,),
 (0.00938538783413937,),
 (0.009774418425032,),
 (0.009774418425032058,),
 (0.0175314152707801,),
 (0.017531415270780143,),
 (0.022662548708972687,),
 (0.035920053600352116,),
 (0.0424970984186075,),
 (0.0453790355980589,),
 (0.04537903559805893,),
 (0.05345967398824787,),
 (0.0551368180869453,),
 (0.055136818086945365,),
 (0.0628299500173872,),
 (0.06282995001738721,),
 (0.07363437540441052,),
 (0.07690511712856647,),
 (0.0832811780194857,),
 (0.08328117801948574,),
 (0.093203715004099,),
 (0.09320371500409907,),
 (0.09619120006504077,),
 (0.0964661588691749,),
 (0.13871471331545934,),
 (0.1392092598402953,),
 (0.13920925984029536,),
 (0.14317845043414584,),
 (0.1483907551605663,),
 (0.14839075516056638,),
 (0.1631465173276332,),
 (0.1714776608465481,),
 (0.1869217401736487,),
 (0.18692174017364876,),
 (0.1927210016277924,),
 (0.19272100162779243,),
 (0.2048776868972424,),
 (0.20487768689724245,),
 (0.2082404972536268,),
 (0.2122341405862242,),
 (0.21223414058622422,),
 (0.2300040994374887,),
 (0.23000409943748878,),
 (0.23362279742142797,),
 (0.23766348514648616,),
 (0.2399277688076127,),
 (0.25839637682793654,),
 (0.2587767227233121,),
 (0.25877672272331215,),
 (0.2663978489723294,),
 (0.2681619754437624,),
 (0.26968027900251457,),
 (0.274475807435051,),
 (0.27447580743505107,),
 (0.2752003880323907,),
 (0.2992085647012462,),
 (0.3087905661583731,),
 (0.3112287927934081,),
 (0.31499445024774936,),
 (0.31591601098173944,),
 (0.317014877058688,),
 (0.3182058309070325,),
 (0.33397397474151175,),
 (0.3492022765918697,),
 (0.3513571112683625,),
 (0.3523918732057968,),
 (0.35239187320579685,),
 (0.3555677022516487,),
 (0.3668154470644097,),
 (0.3787522408639165,),
 (0.3836323686156697,),
 (0.38363236861566974,),
 (0.3972921083220661,),
 (0.39729210832206613,),
 (0.399819063980342,),
 (0.39981906398034206,),
 (0.4052907855496764,),
 (0.40529078554967646,),
 (0.4097610031359891,),
 (0.4128793826042375,),
 (0.4148827287110554,),
 (0.4149060793025585,),
 (0.41947482449555434,),
 (0.4224875642767161,),
 (0.42337744175099157,),
 (0.42357177530800466,),
 (0.4241013362428467,),
 (0.42410133624284674,),
 (0.4253743698725467,),
 (0.42537436987254673,),
 (0.4316989362981996,),
 (0.43169893629819966,),
 (0.4322590864197484,),
 (0.4343811658074701,),
 (0.4391580955025482,),
 (0.44247729057278656,),
 (0.4458612221282813,),
 (0.44665458198524005,),
 (0.44900854516966865,),
 (0.4492245750405869,),
 (0.4522912381932062,),
 (0.45229123819320627,),
 (0.4526751156770577,),
 (0.452760828012805,),
 (0.4531622264342763,),
 (0.45316222643427634,),
 (0.4619482668103734,),
 (0.4689446923702045,),
 (0.4692596918211482,),
 (0.4725741776345253,),
 (0.47257417763452536,),
 (0.4728276897329392,),
 (0.47282768973293926,),
 (0.4736459139969415,),
 (0.47364591399694156,),
 (0.4798690861489986,),
 (0.47986908614899865,),
 (0.4804922815530555,),
 (0.4809859013306894,),
 (0.4847098437754966,),
 (0.48470984377549664,),
 (0.4862135164836882,),
 (0.4885867988091799,),
 (0.4926817256692855,),
 (0.49508799672376763,),
 (0.495896529117317,),
 (0.4999858246277712,),
 (0.49998582462777125,),
 (0.5005231270777107,),
 (0.5017078868457054,),
 (0.5024550247931848,),
 (0.503515688769751,),
 (0.5047674369563931,),
 (0.5047775340898975,),
 (0.5065421084891613,),
 (0.5127460612178942,),
 (0.5135722742750142,),
 (0.5161715772195805,),
 (0.5194910788302065,),
 (0.5196614356443722,),
 (0.52247547060713,),
 (0.5269801377204334,),
 (0.5286654478657661,),
 (0.529674853906685,),
 (0.5306913822136028,),
 (0.5307460675074541,),
 (0.5332222870062853,),
 (0.5334752382332555,),
 (0.5355706978429611,),
 (0.535599679168318,),
 (0.5431197518883574,),
 (0.5442468364089652,),
 (0.5455349216008357,),
 (0.5463921800886516,),
 (0.5465127998841318,),
 (0.5473068820594046,),
 (0.5499725667115204,),
 (0.5533982677871976,),
 (0.5564662251927346,),
 (0.5571061392006522,),
 (0.5576052343126622,),
 (0.5598897697365796,),
 (0.5623881109548944,),
 (0.5640170575559038,),
 (0.5664646602086383,),
 (0.5669535212727504,),
 (0.5685627995248645,),
 (0.5705354411893807,),
 (0.5710057436750126,),
 (0.576242834864793,),
 (0.5780356187864363,),
 (0.5781835179780913,),
 (0.5799820061184501,),
 (0.5800122226632837,),
 (0.5821634803841962,),
 (0.5867515734057256,),
 (0.5873498428061471,),
 (0.5874950389339166,),
 (0.5882384732730418,),
 (0.5889115968666894,),
 (0.591147381076699,),
 (0.5957342314246462,),
 (0.59626214375596,),
 (0.5963920118741117,),
 (0.5966796304865192,),
 (0.5971369056915904,),
 (0.59762204164392,),
 (0.5986839137207731,),
 (0.6006829915627783,),
 (0.6014934589377732,),
 (0.6017713264977812,),
 (0.6026953927363191,),
 (0.6028449297572306,),
 (0.6047148296212524,),
 (0.6048015564910562,),
 (0.6057261779139954,),
 (0.6078088214429568,),
 (0.6113595642868969,),
 (0.6122052196759971,),
 (0.6126699405361834,),
 (0.6129201598284453,),
 (0.6143847312357634,),
 (0.6147855450782282,),
 (0.6155300776796281,),
 (0.6157003685494865,),
 (0.6166469063052361,),
 (0.6189816105293018,),
 (0.6197734319169268,),
 (0.6218882217042377,),
 (0.624258305584257,),
 (0.6253944442885674,),
 (0.6289714198951196,),
 (0.6291184818425236,),
 (0.6299572316315714,),
 (0.6320484938593925,),
 (0.633610199428456,),
 (0.6337898343779349,),
 (0.6369145646904104,),
 (0.6380003510387419,),
 (0.6395078887177159,),
 (0.6435539304055292,),
 (0.6447151998247469,),
 (0.6465319010643628,),
 (0.6490887076158398,),
 (0.6504854686329443,),
 (0.6530798999196764,),
 (0.6553672421345631,),
 (0.6557918030285276,),
 (0.6587748694437359,),
 (0.6587833088250645,),
 (0.6605603913029157,),
 (0.6610176848391965,),
 (0.6614190807895604,),
 (0.6624599922176185,),
 (0.6648596518489568,),
 (0.6654165698483264,),
 (0.6655508415983263,),
 (0.6659309842048149,),
 (0.6664462421440849,),
 (0.6681928941032935,),
 (0.6700604023204559,),
 (0.6728067153263185,),
 (0.6733165532557712,),
 (0.6752097216331882,),
 (0.6752413950633546,),
 (0.6757342859870693,),
 (0.6761986547956507,),
 (0.6779855111903348,),
 (0.6787719832549298,),
 (0.6798519453327628,),
 (0.6805508850022922,),
 (0.6816572537692163,),
 (0.6824302251300418,),
 (0.6828739599065623,),
 (0.6830014110047683,),
 (0.6858234279257573,),
 (0.686765414569041,),
 (0.6874255578085589,),
 (0.6877054055609653,),
 (0.6877717237275579,),
 (0.6883806155357804,),
 (0.689385628400094,),
 (0.6898132777764439,),
 (0.6909048442274384,),
 (0.6909094285819375,),
 (0.6915357578576474,),
 (0.6921337836991246,),
 (0.6926213562988964,),
 (0.6932896346786307,),
 (0.6959795540729974,),
 (0.6972571491493637,),
 (0.697783828676857,),
 (0.6978058416655171,),
 (0.7029129715226371,),
 (0.7062233007059573,),
 (0.7063986744475018,),
 (0.7080751735686247,),
 (0.7085373979631415,),
 (0.7112837623765824,),
 (0.7131002040127528,),
 (0.7139191937298273,),
 (0.7143772771458777,),
 (0.7146166955744175,),
 (0.7153809327562195,),
 (0.7186935892082582,),
 (0.7193040735466676,),
 (0.7199604226022472,),
 (0.7212229699739467,),
 (0.7224214800882707,),
 (0.722985129769263,),
 (0.7245247785799206,),
 (0.7245453363693357,),
 (0.7248591902619442,),
 (0.7271457093088755,),
 (0.7303079095404612,),
 (0.7305127456785296,),
 (0.7328117978663116,),
 (0.7332264939598744,),
 (0.7370222143866445,),
 (0.7373692007663686,),
 (0.7386282582074463,),
 (0.738822192762558,),
 (0.7410001166323895,),
 (0.7418461737265969,),
 (0.7442217361108014,),
 (0.7448816111805744,),
 (0.7471417373823865,),
 (0.7485624089225378,),
 (0.751060322872704,),
 (0.7518651441115402,),
 (0.7527447316609064,),
 (0.7528123259555481,),
 (0.7528607924500587,),
 (0.7541729472676063,),
 (0.7542105154191437,),
 (0.7547465204221787,),
 (0.7555653784439337,),
 (0.7558125057097625,),
 (0.7565613167415092,),
 (0.759022707837025,),
 (0.7592698414848893,),
 (0.7594754931944484,),
 (0.7605198102468987,),
 (0.7610881573098262,),
 (0.7634336388806964,),
 (0.7655223418249869,),
 (0.7659950888935558,),
 (0.7664704221248732,),
 (0.7668244763559842,),
 (0.7668548523291849,),
 (0.7689925964462457,),
 (0.7700776365031943,),
 (0.7701522000440405,),
 (0.7704904296364253,),
 (0.7716889209301211,),
 (0.771800804036565,),
 (0.7755081313853104,),
 (0.7767280918075004,),
 (0.77759812834582,),
 (0.7776201957366711,),
 (0.7778421662920489,),
 (0.7785234257596132,),
 (0.7786562429819238,),
 (0.7799229815372374,),
 (0.7800089021488017,),
 (0.7807985942763577,),
 (0.7808485918705332,),
 (0.7815863844344989,),
 (0.7829451552207903,),
 (0.7832464292004848,),
 (0.7832921364230574,),
 (0.7834006574633073,),
 (0.7842273356114101,),
 (0.7844516569159349,),
 (0.7861689722485107,),
 (0.787541337639776,),
 (0.7883886096709578,),
 (0.789536176591141,),
 (0.7896885710133733,),
 (0.7909582410608708,),
 (0.7910607758951606,),
 (0.7911873564700584,),
 (0.7916276379812914,),
 (0.7923751603962598,),
 (0.7925017265631433,),
 (0.7927099221199926,),
 (0.7986268523968638,),
 (0.7990992233936224,),
 (0.7992864461363341,),
 (0.7994547216786679,),
 (0.800304689354812,),
 (0.8009076943374291,),
 (0.8021713765646723,),
 (0.8026703926371119,),
 (0.8028159758963808,),
 (0.8046854181546739,),
 (0.805750324793534,),
 (0.8059616677078444,),
 (0.8065197772415098,),
 (0.8086730047588987,),
 (0.8097386688694732,),
 (0.8099781291257118,),
 (0.8114768460330127,),
 (0.8117716699445994,),
 (0.8133178382874671,),
 (0.8139121166880027,),
 (0.8154793049415958,),
 (0.8156974662321772,),
 (0.8163727242063002,),
 (0.8166333997128253,),
 (0.8177263065249222,),
 (0.8215059478831093,),
 (0.8224171641359603,),
 (0.8227764065072871,),
 (0.8238528654264888,),
 (0.8245485488986231,),
 (0.8259870771616857,),
 (0.8268931781465649,),
 (0.8274930015778222,),
 (0.8285897180421409,),
 (0.830439193016716,),
 (0.8307082229013997,),
 (0.8336073157337441,),
 (0.8339216525750267,),
 (0.8348194422998733,),
 (0.835508061383112,),
 (0.8376539841035787,),
 (0.8380101373780132,),
 (0.839856216858004,),
 (0.8399988449753476,),
 (0.8410908623705715,),
 (0.8433384929713762,),
 (0.8438865446865244,),
 (0.8447686511198496,),
 (0.8450240250819646,),
 (0.8452108100658019,),
 (0.8455615044972544,),
 (0.8461392052866216,),
 (0.8468300560974983,),
 (0.8501243530232043,),
 (0.8518985896285115,),
 (0.8524132603752509,),
 (0.8534081926308096,),
 (0.8540575694069645,),
 (0.855129742884086,),
 (0.859057283603387,),
 (0.8606659078727856,),
 (0.8610079903327272,),
 (0.8616963195725851,),
 (0.8622727196503546,),
 (0.8623549411745068,),
 (0.8633515960871626,),
 (0.8634318122694299,),
 (0.8635507704390633,),
 (0.8651780775308142,),
 (0.8652197446880814,),
 (0.8669013679302977,),
 (0.8692016704145122,),
 (0.8696771555496404,),
 (0.8699356357048833,),
 (0.8714856297430982,),
 (0.8718807420427973,),
 (0.8718841757153072,),
 (0.8750696148927707,),
 (0.8754565398354609,),
 (0.8778350990419734,),
 (0.8802913131634656,),
 (0.8803418811496198,),
 (0.8809918555349814,),
 (0.8856501317623917,),
 (0.8907227723306901,),
 (0.890897748658218,),
 (0.8915180466252219,),
 (0.8965652388911678,),
 (0.8966939042021552,),
 (0.8981777763920417,),
 (0.8983452054962389,),
 (0.8990632438936498,),
 (0.8996122055851278,),
 (0.8998755258064403,),
 (0.899896759941587,),
 (0.8999546039480604,),
 (0.9027442336474047,),
 (0.9046745364633368,),
 (0.905343683902456,),
 (0.9083321318237745,),
 (0.9092618441900052,),
 (0.9092618441900053,),
 (0.9127326218945806,),
 (0.9147329517163697,),
 (0.9171729513875266,),
 (0.9175622845346035,),
 (0.917662254003034,),
 (0.9178768426513253,),
 (0.9180221073184824,),
 (0.9180221073184825,),
 (0.9181145810852934,),
 (0.9183330366263104,),
 (0.9185319649676852,),
 (0.9189544145420716,),
 (0.9189544145420717,),
 (0.9208457654922579,),
 (0.920845765492258,),
 (0.9213918826049124,),
 (0.92177711282998,),
 (0.9236480002165383,),
 (0.9236776107659884,),
 (0.9242246894290627,),
 (0.9242246894290628,),
 (0.9273951698742855,),
 (0.9273951698742856,),
 (0.927676808293259,),
 (0.9277478823794936,),
 (0.9277478823794937,),
 (0.9289156834002184,),
 (0.9300306812797736,),
 (0.9300546543096856,),
 (0.9300546543096857,),
 (0.9309129939805045,),
 (0.9324461940142711,),
 (0.9324461940142712,),
 (0.9351461420694536,),
 (0.9351461420694537,),
 (0.9354147305813159,),
 (0.9361990932191707,),
 (0.9361990932191708,),
 (0.9362198352682799,),
 (0.9366111274087195,),
 (0.9369203730949563,),
 (0.9384726616295588,),
 (0.9384726616295589,),
 (0.9386713275251731,),
 (0.9393520362055884,),
 (0.9403607798806741,),
 (0.9409433426059455,),
 (0.941405394242142,),
 (0.9417442653935828,),
 (0.9417442653935829,),
 (0.9418441549920852,),
 (0.9448422747801994,),
 (0.9448633010182358,),
 (0.9462297473035758,),
 (0.948492116735267,),
 (0.9485756939578606,),
 (0.9486112946097692,),
 (0.94978257869669,),
 (0.9499355657446766,),
 (0.9511735885445902,),
 (0.9518486320061341,),
 (0.9531947686492545,),
 (0.9532192573419846,),
 (0.9535375260627447,),
 (0.9543750815153956,),
 (0.9544880135084814,),
 (0.9546340610797084,),
 (0.9557471335723311,),
 (0.9557471335723312,),
 (0.956760030346951,),
 (0.9610788547485919,),
 (0.9612235861579347,),
 (0.9612235861579348,),
 (0.9630415587828602,),
 (0.9635757585221408,),
 (0.9639404171392704,),
 (0.9639404171392705,),
 (0.9640130296936411,),
 (0.9640130296936412,),
 (0.9648960341717818,),
 (0.9650649698639682,),
 (0.9651423259308448,),
 (0.9654469278355164,),
 (0.9659694155686932,),
 (0.9659694155686933,),
 (0.9667765792756988,),
 (0.9673466075912587,),
 (0.9676806624934798,),
 (0.9684228263728704,),
 (0.9684228263728705,),
 (0.9692068272296496,),
 (0.9708322590898286,),
 (0.9711833638246588,),
 (0.9723221117965007,),
 (0.9723221117965009,),
 (0.9724064512868725,),
 (0.9724411430091066,),
 (0.9727391226684595,),
 (0.9727391226684596,),
 (0.9731205508539494,),
 (0.9732313336155742,),
 (0.9736891397257927,),
 (0.9745801400363836,),
 (0.9748523712331019,),
 (0.974852371233102,),
 (0.9770695989159875,),
 (0.97722130032842,),
 (0.9773849010106763,),
 (0.9773849010106764,),
 (0.9790513752073129,),
 (0.9806837351612664,),
 (0.981643178756754,),
 (0.9816431787567541,),
 (0.9822224723782971,),
 (0.9822224723782972,),
 (0.9822639542630178,),
 (0.9825840580953967,),
 (0.9825840580953968,),
 (0.9836297157373253,),
 (0.983830561853598,),
 (0.9846797520617215,),
 (0.9846797520617216,),
 (0.9870564565046718,),
 (0.9881424236852264,),
 (0.9881424236852265,),
 (0.9896054106558787,),
 (0.9896054106558788,),
 (0.98976649952844,),
 (0.9899858750843391,),
 (0.9899858750843392,),
 (0.991609302552721,),
 (0.9932781810764062,),
 (0.994706744834221,),
 (0.9954834890033111,),
 (0.9954834890033112,),
 (0.9964852716170292,),
 (0.9969690339983058,),
 (1.0016025194152869,),
 (1.0016475443953334,),
 (1.0042298052603522,),
 (1.0067282315465442,),
 (1.008321031319622,),
 (1.0100401923258167,),
 (1.0106193615042447,),
 (1.0123937979433075,),
 (1.0129000620541235,),
 (1.013996883345153,),
 (1.0150898122871124,),
 (1.0161428128816186,),
 (1.0161481221420734,),
 (1.0164985507580975,),
 (1.0164985507580977,),
 (1.018497580098881,),
 (1.0185094981738914,),
 (1.0194064369276408,),
 (1.0194116326881368,),
 (1.0194196523414163,),
 (1.0194196523414165,),
 (1.0207525836458915,),
 (1.0210831325747864,),
 (1.021280702108558,),
 (1.0220529379432368,),
 (1.02300799544523,),
 (1.0234053824527707,),
 (1.0239142157291647,),
 (1.024161316590452,),
 (1.0244768261480703,),
 (1.0250048102067335,),
 (1.0252077391841856,),
 (1.0252526450014197,),
 (1.0252755902478206,),
 (1.0257165247818645,),
 (1.0259818068911355,),
 (1.0259818068911357,),
 (1.0262898751705603,),
 (1.0265635047811423,),
 (1.0265821026975974,),
 (1.0272506937564418,),
 (1.028653614595188,),
 (1.0286536145951881,),
 (1.0287313055098664,),
 (1.028948534906672,),
 (1.029112229911783,),
 (1.029796271190711,),
 (1.0306480795260575,),
 (1.0306727828227913,),
 (1.03286016924285,),
 (1.0332481870074093,),
 (1.034709200119328,),
 (1.0349525168426887,),
 (1.0350454948556393,),
 (1.0353870652705144,),
 (1.037975729713,),
 (1.0379757297130001,),
 (1.0381731234662284,),
 (1.04007004546406,),
 (1.0400700454640601,),
 (1.0418791815262063,),
 (1.044270800001267,),
 (1.0457135394397625,),
 (1.045853732006315,),
 (1.045859547005686,),
 (1.0466077441809478,),
 (1.046884641035189,),
 (1.04721269961439,),
 (1.0472541090541827,),
 (1.0474077211652544,),
 (1.0475357669166052,),
 (1.0479773420798584,),
 (1.0480441831757394,),
 (1.0490587006546468,),
 (1.0498293084775494,),
 (1.0500878530467375,),
 (1.0502435220297668,),
 (1.0502978865742063,),
 (1.0502978865742065,),
 (1.0507939620971274,),
 (1.0519601659824076,),
 (1.0520901068392647,),
 (1.0521520003499611,),
 (1.0521826705790058,),
 (1.0526438444299315,),
 (1.0538267532739867,),
 (1.053826753273987,),
 (1.0553217294810082,),
 (1.0554583991554034,),
 (1.0562619629378704,),
 (1.0574147500823128,),
 (1.0580437223620365,),
 (1.05918292161126,),
 (1.0598774419276749,),
 (1.060380275382275,),
 (1.0613380093163305,),
 (1.0613744692505411,),
 (1.0613821908511911,),
 (1.0616163465110298,),
 (1.0620901995932834,),
 (1.0628874358039704,),
 (1.0637323874950075,),
 (1.0640349943603316,),
 (1.0640620078399123,),
 (1.0641145753721788,),
 (1.0648604338740848,),
 (1.0667656039765159,),
 (1.069138129062515,),
 (1.0694577800507283,),
 (1.0694593716701468,),
 (1.0696078398434865,),
 (1.0698136562712646,),
 (1.0699830172947284,),
 (1.0701370587541563,),
 (1.070620170393818,),
 (1.0719047989605837,),
 (1.0729534852508869,),
 (1.0744922755177422,),
 (1.0748549000140157,),
 (1.0761640746633296,),
 (1.0765448175909338,),
 (1.0780597166236114,),
 (1.079690465386583,),
 (1.0799676458872383,),
 (1.082129899315609,),
 (1.0867764129104056,),
 (1.087218724562227,),
 (1.087261126539613,),
 (1.0873137842130811,),
 (1.0874520331706463,),
 (1.0880806375060932,),
 (1.0892019590641377,),
 (1.08971056202337,),
 (1.090114442374677,),
 (1.0902582855506158,),
 (1.0905249109971709,),
 (1.0906954374907107,),
 (1.0912131303803876,),
 (1.0922617065700932,),
 (1.0947161659563975,),
 (1.0982697925990395,),
 (1.0982787658979967,),
 (1.0992633147421211,),
 (1.099887476898529,),
 (1.100861541320354,),
 (1.101877927010577,),
 (1.1026086277191467,),
 (1.1031561689909786,),
 (1.1036896629202342,),
 (1.1051042568299283,),
 (1.1051042568299285,),
 (1.105992479048521,),
 (1.1060589697017769,),
 (1.1069677178535484,),
 (1.1078287539690825,),
 (1.1079189990087233,),
 (1.1084511051397972,),
 (1.1092158070298257,),
 (1.11134866717081,),
 (1.1113728266885634,),
 (1.112819249577667,),
 (1.1129032207336358,),
 (1.1129214253053643,),
 (1.1131931980872303,),
 (1.113343815849306,),
 (1.1138894147655625,),
 (1.1139076865294788,),
 (1.1141884548349137,),
 (1.1142238953211665,),
 (1.1143556268813863,),
 (1.1145246039389258,),
 (1.1148662549350175,),
 (1.1148662549350177,),
 (1.1163958250854622,),
 (1.1173616157803241,),
 (1.117376834495339,),
 (1.1174276145143478,),
 (1.118360558859882,),
 (1.1191846028937729,),
 (1.1198273841507795,),
 (1.120180513591429,),
 (1.1215822940906712,),
 (1.1223440247949592,),
 (1.1226869045228212,),
 (1.1239740925125394,),
 (1.1241363328874237,),
 (1.1242719450476124,),
 (1.124962025573644,),
 (1.1259040969676257,),
 (1.1259616610001888,),
 (1.1269933659263014,),
 (1.1276942663050527,),
 (1.1291306954922078,),
 (1.1299541426190083,),
 (1.1299541426190085,),
 (1.1302868566025315,),
 (1.1302868566025317,),
 (1.1303465209312094,),
 (1.1311336014802027,),
 (1.1328599621641122,),
 (1.1334921899070858,),
 (1.1343871525349791,),
 (1.1347144056086411,),
 (1.1356369875958379,),
 (1.135636987595838,),
 (1.137043692302914,),
 (1.1370436923029141,),
 (1.1385333837007525,),
 (1.140131792296287,),
 (1.141515169743476,),

* [ ] What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?

* [ ] Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?

* [ ] During Hurricane Sandy in NYC (Oct 29-30, 2012) and the week leading up to it, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?

## Part 4: Visualizing the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Create an appropriate visualization for the first query/question in part 3
* [ ] Create a visualization that shows the average distance traveled per month (regardless of year - so group by each month). Include the 90% confidence interval around the mean in the visualization
* [ ] Define three lat/long coordinate boxes around the three major New York airports: LGA, JFK, and EWR (you can use bboxfinder to help). Create a visualization that compares what day of the week was most popular for drop offs for each airport.
* [ ] Create a heatmap of all hired trips over a map of the area. Consider using KeplerGL or another library that helps generate geospatial visualizations.
* [ ] Create a scatter plot that compares tip amount versus distance.
* [ ] Create another scatter plot that compares tip amount versus precipitation amount.
* [ ] Come up with 3 questions on your own that can be answered based on the data in the 4 tables. Create at least one visualization to answer each question. At least one visualization should require data from at least 3 tables.

_Be sure these cells are executed so that the visualizations are rendered when the notebook is submitted._

### Visualization N

_Write some prose that tells the reader what you're about to do here._

_Repeat for each visualization._

_You don't have to query the data directly from the database. You can just re-use the pandas DataFrame that you created in Part 1._

_The example below makes use of the `matplotlib` library. There are other libraries, including `pandas` built-in plotting library, kepler for geospatial data representation, `seaborn`, and others._

In [19]:
# use a more descriptive name for your function
def plot_visual_n(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
plot_visual_n(some_dataframe)